body {
  font-size: 18px;
  line-height: 27px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #f7f4f1;
  font-style: normal;
  background-color: #292929; }

img {
  max-width: 100%;
  height: auto; }

* {
  box-sizing: border-box; }

.slider__input {
  display: none; }

.slider__toggles {
  text-align: center; }

.page-header {
  background-color: #242424;
  text-align: center; }

.page-header__logo {
  padding: 25px;
  line-height: 0; }
  .page-header__logo img {
    line-height: 27px;
    width: 226px;
    height: 30px; }

.main-nav {
  position: relative;
  max-width: 360px;
  min-height: 50px;
  margin: 0 auto;
  background-color: #826550; }

.main-nav__wrapper {
  text-align: left;
  background-color: #826550; }
  .main-nav__wrapper a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 12px 21px; }

.main-nav__toggle {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 50px;
  font-size: 0;
  background-color: #6a4d38;
  border: none;
  cursor: pointer; }
  .main-nav__toggle:hover {
    background-color: #624530; }
  .main-nav__toggle:active {
    background-color: #624530; }

.main-nav__items {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #826550; }

.main-nav__user-items {
  padding: 0;
  margin: 0;
  list-style: none; }

.main-nav__item a {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f; }

.main-nav__item a[href]:hover {
  background-color: #755a46;
  border-top-color: #755a46; }

.main-nav__item a[href]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6a4d38;
  border-top-color: #6a4d38; }

.main-nav__user-item a {
  line-height: 27px; }

.main-nav__user-item .main-nav__user-login {
  position: relative;
  padding-left: 49px; }
  .main-nav__user-item .main-nav__user-login::before {
    content: "";
    position: absolute;
    top: 17px;
    left: 21px;
    width: 16px;
    height: 16px;
    background-color: red;
    opacity: 0.3; }

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #fff;
  box-shadow: 0 8px 00 #fff, 0 16px 00 #fff; }

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 rgba(255, 255, 255, 0.3), 0 16px 0 rgba(255, 255, 255, 0.3); }

.main-nav--opened .main-nav__toggle {
  left: 0;
  right: auto; }
  .main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: #fff;
    box-shadow: none; }
  .main-nav--opened .main-nav__toggle::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .main-nav--opened .main-nav__toggle::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .main-nav--opened .main-nav__toggle:active::before, .main-nav--opened .main-nav__toggle:active::after {
    background-color: rgba(255, 255, 255, 0.3); }

.stats__header {
  padding: 0 6.25%;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding-bottom: 30px; }

.stats__slogan {
  display: inline-block;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  margin: 30px 0; }

.stats__intro {
  font-size: 20px;
  margin: 0; }

.stats__legend--top {
  display: none; }

.stats__items {
  width: 100%; }

.stats__row {
  display: -webkit-box;
  display: flex; }
  .stats__row:first-child, .stats__row:last-child {
    background-color: #404040; }
  .stats__row:nth-child(2) {
    background-color: #4e4e4e; }
  .stats__row:nth-child(3) {
    background-color: #353535; }

.stats__value {
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  width: 60%;
  margin: 0;
  padding: 24px 0;
  padding-left: 6.25%; }

.stats__field {
  font-size: 18px;
  line-height: 18px;
  width: 40%;
  margin: 0;
  padding: 24px 0;
  padding-right: 6.25%;
  text-align: right; }

.stats__legend--bottom {
  display: block;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.3);
  padding-top: 15px;
  padding-bottom: 45px; }

.advantages {
  background-color: #242424; }

.advantages__items {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.advantages__item {
  padding: 0 14.05%;
  padding-top: 130px; }
  .advantages__item:nth-child(n+2) {
    display: none; }
  .advantages__item p {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    font-size: 20px; }

.advantages__item-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase; }

.news {
  background-color: #f8f5f2;
  color: #000; }

.news__wrapper {
  padding: 0 6.25%;
  padding-top: 75px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5ddd5; }

.news__title {
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
  padding: 0; }

.news__items {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 35px; }

.news__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px; }
  .news__item:first-child {
    border-bottom: 1px solid #e5ddd5; }
  .news__item:nth-child(n+3) {
    display: none; }
  .news__item p {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    width: 75%; }

.news__date {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  width: 50px;
  height: 50px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 10px;
  padding: 5px 0; }
  .news__date b {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700; }

.news__to-all {
  display: block;
  text-align: center;
  margin-top: 5px; }

.reviews {
  background-color: #f8f5f2;
  color: #000; }

.reviews__wrapper {
  padding: 0 6.25%;
  padding-top: 30px;
  padding-bottom: 20px; }

.reviews__title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700; }

.reviews__write {
  display: none; }

.reviews__items {
  margin-top: 35px; }

.reviews__item {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 25%;
  position: relative; }
  .reviews__item p {
    font-size: 18px;
    margin: 0;
    margin-top: 10px;
    padding: 0; }

.reviews__author-foto {
  position: absolute;
  left: 0;
  top: 10px; }
  .reviews__author-foto img {
    width: 50px;
    height: 48px;
    border: 1px solid #e8e0d9; }

.reviews__author-name {
  font-size: 24px;
  line-height: 27px;
  font-style: normal;
  font-weight: 700;
  padding: 0;
  margin: 0; }

.reviews__prev,
.reviews__next {
  display: none; }

.page-footer__wrapper {
  text-align: center;
  padding-top: 70px; }

.page-footer__contacts {
  padding: 0 6.25%;
  margin-bottom: 25px; }
  .page-footer__contacts b {
    display: inline-block;
    margin-bottom: 10px; }
  .page-footer__contacts p {
    padding: 0;
    margin: 0 12.5%;
    margin-bottom: 15px; }
  .page-footer__contacts a {
    display: inline-block;
    width: 100%;
    font-weight: 700;
    padding: 10px 0;
    color: #fff;
    text-decoration: none;
    border-top: 1px solid #3e3e3e;
    border-bottom: 1px solid #3e3e3e; }
  .page-footer__contacts span {
    display: none; }

.page-footer__social {
  margin-bottom: 30px; }

.social-links {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center; }
  .social-links p {
    display: none; }

.social-link {
  text-align: center;
  width: 108px;
  height: 101px;
  border: 1px solid #3e3e3e; }

.page-footer__copyright {
  padding: 0 6.25%;
  padding-bottom: 25px; }
  .page-footer__copyright p {
    margin: 0;
    margin-bottom: 15px;
    padding: 0; }
  @media (min-width: 768px) {
    .page-header {
      display: -webkit-box;
      display: flex;
      padding-bottom: 215px;
      background-color: transparent; }
    .page-header__logo {
      padding: 0;
      position: absolute;
      left: 50%;
      top: 110px;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
      .page-header__logo img {
        width: 370px;
        height: 101px; }
    .main-nav {
      max-width: 100%;
      width: 100%;
      background-color: #000; }
    .main-nav__wrapper {
      padding: 0 6.25%;
      background-color: #000;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
              justify-content: space-between; }
      .main-nav__wrapper a {
        padding: 24px 0; }
    .main-nav__toggle {
      display: none; }
    .main-nav__items {
      background-color: #000;
      display: -webkit-box;
      display: flex; }
  .main-nav__item {
    margin-right: 30px; }
    .main-nav__item:last-child {
      margin-right: 0; }
    .main-nav__item a {
      border: none; }
    .main-nav__item a[href]:hover {
      background-color: #000;
      color: #826550; }
    .main-nav__item a[href]:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: #000; }
  .main-nav__item--active {
    position: relative; }
    .main-nav__item--active::before {
      content: "";
      display: block;
      position: absolute;
      height: 3px;
      left: 0;
      right: 0;
      bottom: -2px;
      background-color: #826550; }
    .main-nav__user-item .main-nav__user-login {
      font-size: 0;
      line-height: 24px; }
      .main-nav__user-item .main-nav__user-login::before {
        top: 28px; }
  .stats {
    padding: 0 6.25%; }
    .stats__header {
      padding: 0 8.4%; }
    .stats__header {
      padding: 0;
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      text-align: left; }
    .stats__slogan {
      width: 50%;
      padding: 0 6.25%; }
    .stats__intro {
      width: 50%;
      padding: 30px 5.45%;
      padding-right: 12.25%; }
    .stats__legend--top {
      display: block;
      padding: 0 6.25%;
      padding-bottom: 30px;
      font-size: 20px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.4); }
    .stats__items {
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap; }
    .stats__row {
      flex-wrap: wrap;
      width: 50%; }
    .stats__value {
      width: 100%;
      padding: 0 10.9%;
      padding-top: 30px; }
    .stats__field {
      width: 100%;
      text-align: left;
      padding: 0 10.9%;
      padding-bottom: 30px; }
    .stats__legend--bottom {
      display: none; }
    .advantages {
      background-color: #353535; }
  .advantages__wrapper {
    padding: 0 6.25%; }
    .advantages__items {
      text-align: left;
      padding-left: 4.6875%;
      padding-top: 5px;
      padding-bottom: 50px; }
    .advantages__item {
      padding-left: 130px;
      padding-top: 0;
      margin-top: 40px; }
      .advantages__item:nth-child(n+2) {
        display: block; }
      .advantages__item p {
        margin-bottom: 0; }
  .advantages__toggles {
    display: none; }
    .news__wrapper {
      padding: 0 8.4%; }
    .news__wrapper {
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
              justify-content: space-between;
      padding-top: 85px; }
    .news__title {
      text-align: left;
      width: 75%;
      font-size: 40px;
      line-height: 40px; }
    .news__items {
      -webkit-box-ordinal-group: 3;
              order: 2;
      display: -webkit-box;
      display: flex;
      margin-top: 50px; }
    .news__item {
      width: 43.75%;
      margin-right: 6.25%;
      padding-bottom: 40px; }
      .news__item:first-child {
        border-bottom: none; }
    .news__to-all {
      -webkit-box-ordinal-group: 2;
              order: 1;
      margin: 0; }
    .reviews__wrapper {
      padding: 0 8.4%; }
    .reviews__wrapper {
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
              justify-content: space-between;
      padding-top: 40px;
      padding-bottom: 70px; }
    .reviews__title {
      font-size: 40px;
      line-height: 40px;
      width: 75%;
      text-align: left; }
    .reviews__write {
      display: block; }
    .reviews__items {
      margin-top: 35px;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
              justify-content: space-between; }
    .reviews__item {
      -webkit-box-ordinal-group: 2;
              order: 1;
      width: 84.375%;
      padding-left: 21.875%;
      border-top: 1px solid #e5ddd5;
      border-bottom: 1px solid #e5ddd5; }
    .reviews__author-foto {
      left: 30px;
      top: 40px; }
      .reviews__author-foto img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: none; }
    .reviews__prev,
    .reviews__next {
      display: block;
      width: 7.8125%;
      font-size: 0;
      border: 1px solid #e5ddd5;
      background-color: transparent; }
  .reviews__next {
    -webkit-box-ordinal-group: 3;
            order: 2; }
  .reviews__toggles {
    width: 100%; }
    .page-footer__wrapper {
      padding: 0 6.25%;
      text-align: left;
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      margin-top: 50px;
      -webkit-box-pack: justify;
              justify-content: space-between; }
    .page-footer__contacts {
      padding: 0 8.4%; }
    .page-footer__contacts {
      padding: 0;
      margin: 0; }
      .page-footer__contacts p {
        margin: 0; }
      .page-footer__contacts b {
        display: inline-block;
        margin-bottom: 15px; }
      .page-footer__contacts a {
        border: none;
        font-weight: 400;
        padding: 0; }
      .page-footer__contacts span {
        display: inline-block; }
    .page-footer__social {
      -webkit-box-ordinal-group: 2;
              order: 1;
      width: 100%;
      margin-top: 50px;
      margin-bottom: 55px; }
    .social-link {
      width: 214px; }
    .page-footer__copyright {
      padding: 0 8.4%; }
    .page-footer__copyright {
      text-align: center;
      padding: 0; } }
  @media (min-width: 768px) and (min-width: 768px) {
    .main-nav__wrapper {
      padding: 0 8.4%; }
    .stats {
      padding: 0 8.4%; }
    .advantages__wrapper {
      padding: 0 8.4%; }
    .page-footer__wrapper {
      padding: 0 8.4%; } }
  @media (min-width: 1200px) {
    .page-header {
      padding-bottom: 490px; }
    .page-header__logo {
      top: 130px; }
      .page-header__logo img {
        width: 370px;
        height: 153px; }
  .main-nav__item {
    margin-right: 0; }
    .main-nav__item a {
      padding: 24px 30px; }
    .main-nav__item a[href]:hover {
      background-color: #fff;
      color: #000; }
    .main-nav__item a[href]:active {
      color: rgba(0, 0, 0, 0.3);
      background-color: #fff; }
  .main-nav__item--active::before {
    left: 30px;
    right: 30px; }
    .main-nav__user-item .main-nav__user-login {
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      padding-right: 30px; }
      .main-nav__user-item .main-nav__user-login:hover {
        background-color: #fff;
        color: #000; }
      .main-nav__user-item .main-nav__user-login:active {
        color: rgba(0, 0, 0, 0.3);
        background-color: #fff; }
  .stats {
    display: -webkit-box;
    display: flex; }
    .stats__header {
      padding: 0 10%; }
    .stats__header {
      width: 33.3%;
      padding: 0; }
    .stats__slogan {
      width: 100%;
      padding: 0 12.55%; }
    .stats__intro {
      width: 100%;
      padding: 0 12.5%;
      padding-bottom: 30px; }
    .stats__legend--top {
      width: 100%;
      padding: 0 12.5%;
      padding-bottom: 30px; }
    .stats__items {
      width: 66.6%; }
    .advantages__items {
      display: -webkit-box;
      display: flex;
      text-align: center;
      padding: 0;
      padding-bottom: 45px; }
    .advantages__item {
      padding: 0 4.15%;
      margin-top: 80px;
      padding-top: 130px;
      width: 33.3%; }
    .news__wrapper {
      padding: 0 10%; }
    .news__wrapper {
      padding-top: 120px; }
    .news__title {
      padding-left: 7.3%; }
    .news__item {
      width: 29.166%;
      margin-right: 4.166%;
      padding-bottom: 40px; }
      .news__item:nth-child(n+3) {
        display: -webkit-box;
        display: flex; }
    .reviews__wrapper {
      padding: 0 10%; }
    .reviews__title {
      padding-left: 7.3%; }
    .reviews__item {
      width: 85.416%;
      padding-left: 33.3%;
      padding-right: 7.3%;
      padding-top: 35px;
      border: 1px solid #e5ddd5; }
    .reviews__author-foto {
      left: 0;
      top: 0; }
      .reviews__author-foto img {
        width: 249px;
        height: 160px;
        border-radius: 0; }
    .reviews__prev,
    .reviews__next {
      width: 5.2%; }
  .reviews__toggles {
    margin-top: 40px;
    margin-bottom: 45px; }
    .page-footer__wrapper {
      flex-wrap: nowrap;
      margin-bottom: 60px; }
    .page-footer__contacts {
      padding: 0 10%; }
    .page-footer__contacts {
      padding: 0;
      margin: 0;
      width: 321px; }
    .page-footer__social {
      -webkit-box-ordinal-group: 1;
              order: 0;
      margin: 0;
      width: 320px;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
              justify-content: center; }
    .social-links {
      width: 162px;
      -webkit-box-pack: justify;
              justify-content: space-between;
      flex-wrap: wrap; }
      .social-links p {
        display: block;
        padding: 0;
        margin: 0;
        margin-bottom: 15px;
        text-align: center;
        width: 100%; }
    .social-link {
      width: 50px;
      height: 50px; }
    .page-footer__copyright {
      padding: 0 10%; }
    .page-footer__copyright {
      padding: 0;
      width: 319px;
      text-align: right; } }
  @media (min-width: 768px) and (min-width: 1200px) {
    .main-nav__wrapper {
      padding: 0 10%; }
    .stats {
      padding: 0 10%; }
    .advantages__wrapper {
      padding: 0 10%; }
    .page-footer__wrapper {
      padding: 0 10%; } }
  @media (max-width: 767px) {
  .main-nav--closed .main-nav__item {
    display: none; }
    .main-nav--closed .main-nav__item--active {
      display: block;
      text-align: center; }
  .main-nav--closed .main-nav__user-items {
    display: none; }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    height: 80vh;
    background-color: #6a4d38; }
    .main-nav--opened .main-nav__wrapper::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 7px;
      height: 100%;
      box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.3); }
  .main-nav--nojs .main-nav__toggle {
    display: none; }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    height: auto; }
  .main-nav--nojs .main-nav__item {
    display: block; }
    .main-nav--nojs .main-nav__item--active {
      text-align: left; }
  .main-nav--nojs .main-nav__user-items {
    display: block;
    background-color: #6a4d38; } }
