.modal-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  background-color: #f8f5f2;
  color: #000;
  position: fixed;
  top: 135px;
  left: 50%;
  transform: translateX(-50%) translateY(-200%);
  box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.75);
  z-index: 20;
    h2 {
      margin: 0;
      line-height: 100%;
    }
    p {
      margin: 0;
    }
}

.modal-login__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.modal-login__user,
.modal-login__password {
  position: relative;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 18px;
  color: #000;
  width: 100%;
  border: 1px solid #e5ddd5;
  padding: 14px 16px;
  padding-right: 52px;
  background-color: #fff;
    &:hover {
      border-color: #d5cabe;
    }
    &:focus {
      border-color: #999999;
      outline-color: #999999;
    }
}

.modal-login__user::placeholder,
.modal-login__password::placeholder {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #000;
}

.modal-login__user {
  margin-bottom: 6px;
}

.modal-login__password {
  margin-bottom: 26px;
}

.modal-login__remember {
  position: relative;
  width: 60%;
  margin-bottom: 29px;
  padding-left: 48px;
  cursor: pointer;
    input {
      display: none;
    }
}

.checkbox-indicator {
  position: absolute;
  display: block;
  left: 0;
  top: -4px;
  width: 33px;
  height: 33px;
  background-color: #fff;
  border: 1px solid #e5ddd5;
  cursor: pointer;
  transition: 0.5s;
    &::before {
      content: "";
      display: block;
      visibility: hidden;
      top: 0px;
      left: 0px;
      width: 8px;
      height: 14px;
      border: 3px solid #000;
      border-top: none;
      border-left: none;
      transform: rotate(45deg) translateX(10px) translateY(-3px);
      opacity: 0;
      transition: 0.5s;
    }
    &:hover {
      border-color: #d5cabe;
    }
}

.modal-login__remember input:checked + .checkbox-indicator {
  border-color: #d5c9bd;
  background-color: #d5c9bd;
}

.modal-login__remember input:checked + .checkbox-indicator::before {
  visibility: visible;
  opacity: 1;
}

.modal-login__restore {
  width: 40%;
  text-align: right;
  color: #000;
  margin-bottom: 29px;
    &:hover {
      color: #826550;
    }
    &:active {
      color: #6a4d38;
  }
}

.modal-login__btn-enter,
.modal-login__btn-closed {
  width: 130px;
}

.modal-login__btn-enter {
  border: none;
  background-color: #826550;
  color: #fff;
    &:hover {
      background-color: #6a4d38;
    }
    &:active {
      color: #978374;
    }
}

.modal-login__text-hidden {
  display: none;
}

@keyframes bounce {
  0% { transform: translateX(-50%) translateY(-250%); }
  100% { transform: translateX(-50%) translateY(0); }
}

.modal-login--show {
  animation: bounce 0.6s;
  animation-fill-mode: forwards;
}

@keyframes bounce-return {
  0% { transform: translateX(-50%) translateY(0); }
  100% { transform: translateX(-50%) translateY(-250%); }
}

.modal-login--hide {
  animation: bounce-return 0.6s;
}

@keyframes shake {
  0% 100% { transform:  translateX(-50%); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-55%); }
  20%, 40%, 60%, 80% { transform: translateX(-45%); }
}

.modal-login--error {
  animation: shake 0.6s;
  transform: translateX(-50%) translateY(0);
}

.modal-login--static {
  transform: translateX(-50%) translateY(0);
}

@media ($mobile-widths-only) {
  .modal-login {
    width: 320px;
      h2 {
        margin: 0 6.25%;
        margin-top: 35px;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 700;
      }
      p {
        margin: 0 6.25%;
        margin-bottom: 25px;
      }
  }

  .modal-login__form {
    margin: 0 6.25%;
    margin-bottom: 37px;
  }
}

@media ($tablet-widths) {
  .modal-login {
    top: 129px;
    width: 460px;
      h2 {
        margin: 70px;
        margin-top: 55px;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 700;
      }
      p {
        margin: 0 6.25%;
        margin-bottom: 25px;
      }
  }

  .modal-login__form {
    margin: 0 70px;
    margin-bottom: 55px;
  }

  .modal-login__user,
  .modal-login__password {
    padding: 19px 16px;
    padding-right: 66px;
    font-size: 24px;
    line-height: 30px;
  }

  .modal-login__user::placeholder,
  .modal-login__password::placeholder {
    font-size: 24px;
    line-height: 30px;
  }

  .modal-login__btn-enter {
    width: 100%;
  }

  .modal-login__text-hidden {
    display: inline;
  }

  .modal-login__btn-closed {
    position: absolute;
    top: 62px;
    left: 537px;
    width: 26px;
    height: 26px;
    font-size: 0;
    border: none;
      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 36px;
        height: 2px;
        top: 11px;
        left: -4px;
        background-color: #fff;
        transform: rotate(45deg);
        transition: 0.5s;
      }
      &::after {
        transform: rotate(-45deg);
      }
      &:active::before,
      &:active::after {
        background-color: rgba(255, 255, 255, 0.3);
      }
      &:active {
        background-color: transparent;
      }
  }
}
