.page-header {
  text-align: center;
    @media ($tablet-widths) {
      display: flex;
      padding-bottom: 470px;
      background-color: transparent;
    }
    @media ($desktop-widths) {
      padding-bottom: 490px;
    }
}

.page-header__logo {
  padding: 27px;
  line-height: 0;
    img {
      line-height: 27px;
      width: 226px;
      height: 30px;
    }
    @media ($tablet-widths) {
      padding: 0;
      position: absolute;
      left: 50%;
      top: 110px;
      transform: translateX(-50%);
        img {
          width: 370px;
          height: 101px;
        }
    }
    @media ($desktop-widths) {
      top: 130px;
        img {
          width: 370px;
          height: 153px;
        }
    }
}
